In [9]:
import numpy as np                  
import matplotlib.pyplot as plt
import pandas as pd

In [10]:
df1=pd.read_csv('Titanic-Dataset.csv')
df1.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

df.replace()

In [11]:
df1.replace("male",0,inplace=True)
df1.replace("female",1,inplace=True)

C:\Users\AOT\AppData\Local\Temp\ipykernel_5612\1915199505.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1.replace("female",1,inplace=True)

In [12]:
df1.head()

   PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
0            1         0       3  ...   7.2500    NaN         S
1            2         1       1  ...  71.2833    C85         C
2            3         1       3  ...   7.9250    NaN         S
3            4         1       1  ...  53.1000   C123         S
4            5         0       3  ...   8.0500    NaN         S

[5 rows x 12 columns]

In [13]:
df1.drop(['Cabin'],axis=1,inplace=True)

In [14]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder 
ohe=OneHotEncoder(sparse_output=False)

In [26]:
from sklearn.pipeline import make_pipeline, Pipeline

num_imputer = SimpleImputer(strategy="median")
cat_imputer = SimpleImputer(strategy="most_frequent")

num_pipeline = Pipeline([('impute', num_imputer)])
cat_pipeline = make_pipeline(cat_imputer, ohe)

from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(transformers=[
    ('nums', num_pipeline, ['Age', 'SibSp', 'Parch', 'Fare']),
    ('cat', cat_pipeline, ['Embarked'])
], remainder='drop', n_jobs=-1)

from sklearn.linear_model import LogisticRegression as logisc
pipeFinal = make_pipeline(preprocessor, logisc())
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df1.drop('Survived', axis=1), df1['Survived'], test_size=0.2, random_state=42)
pipeFinal.fit(x_train, y_train)
y_pred = pipeFinal.predict(x_test)
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.6759776536312849